<div class="userManagement">
  <div class="notLoggedIn" ng-if="!loggedIn">
    <form id="signin" ng-submit="login(name)">
        <button type="submit" class="btn btn-success btn-sm" name="submit">Log in</button>
      <input type="text" placeholder="Username" name="username" ng-model="name"></input>
    </form>
  </div>
  <div class="loggedIn" ng-if="loggedIn">
    <form id="logout" ng-submit="logout()">
      Welcome {{ user.givenName }}!!
      <button type="submit" name="submit">Log Out</button>
    </form>
    <a ng-href="#/create">Create a new Collection</a><br />
    <a ui-sref="myCollections">Your Collections</a><br />
  </div>
</div>
