<div ng-controller="singleCollectionController">
  <h2 class="text-primary">{{ collection.title }}    <span class="label label-default">{{ collection.stars }} people like this</span></h2>
  <p><i>Creator: {{ collection.user.givenName }}</i></p>
    <button class="btn btn-info" ng-if="!isUser" ng-click="clone()"><b>Clone</b></button>
    <button class="btn btn-success" ng-click="upVote()" ng-if="notYetUpvoted"><b>Upvote</b></button>
  <p ng-if="!notYetUpvoted">You have liked this collection!</p>
  <br>
  <h3><b>Collection Description: </b></h3>
  <p>{{ collection.description }}</p>

  <p><a ng-href="#/{{ collection.url }}/edit" ng-if="isUser">Edit</a></p>
  <h3><b>Links: </b></h3>
  <ol>
    <div class="collectionLinks" ng-repeat="link in collection.links">
        <li><h4><a ng-href="{{ link.url }}">{{ link.title }}</a>
        </h4>
          <p>{{ link.description }}</p>
        </li>
    </div>
  </ol>
</div>
