<div ng-controller="singleCollectionController">
  <h2 class="text-primary">{{ collection.title }}</h2>
  <p><i>Creator: {{ collection.user.givenName }}</i></p>
  <br>
  <h4>Collection Description: </h4>
  <p>{{ collection.description }}</p>
  <a ng-href="#/{{ collection.url }}/edit" ng-if="isUser">Edit</a>
  <!-- Edit should be a button -->
  <button ng-if="!isUser" ng-click="clone()">Clone</button>
  <p>{{ collection.stars }}</p>
  <button ng-click="upVote()" ng-if="notYetUpvoted">Upvote</button>
  <p ng-if="!notYetUpvoted"><b>You have liked this collection!<b/></p>
  <div class="collectionLinks" ng-repeat="link in collection.links">
    <h3><a ng-href="{{ link.url }}">{{ link.title }}</a></h3>
    {{ link.description }}
  </div>
</div>
