html {
  font-size: 1rem;
}

a {
  color: #DF691A;
}

a:visited {
  color: #DF691A;
}

body {
  font-family: Helvetica;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.collection-username {
  font-size: 1rem;
  color: white;
}

.chromeaddurl,
.linkview {
  background-color: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.collectioncreate {
  background-color: rgb(43, 62, 80);
  color: rgb(0, 0, 0);
}

.collectioncreate-copy {
  background-color: rgb(43, 62, 80);
  color: rgb(255, 255, 255);
}

.index {
  background-color: #2b3e50;
  color: rgb(255, 255, 255);
}

.add-link {
  display: block;
  position: relative;
  float: right;
  z-index: 13;
  width: 15.0070126227%;
  height: 2.25rem;
  margin: -4.625rem 1.84958% 0 0;
  border: 0.063rem solid rgb(254, 254, 254);
  border-radius: 0.625rem;
  background-color: rgb(92, 184, 92);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.box {
  position: relative;
  float: left;
  width: 587.2088534294%;
  margin-top: 0.063rem;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.btn-container {
  position: absolute;
  top: 1.375rem;
  right: 2.4362244897%;
  z-index: 7;
  width: 9.5238095238%;
  height: 3.5rem;
}

.checkbox {
  display: block;
  float: left;
  margin-top: 0.188rem;
}

.checkbox-label {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 16;
  width: 11.5007012622%;
  height: 1.375rem;
  margin-top: -0.937rem;
}

.clone-btn {
  display: block;
  float: left;
  width: 100%;
  height: 1.5rem;
  border-radius: 0.188rem;
  background-color: rgb(222, 222, 222);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.collection {
  position: relative;
  float: left;
  width: 100%;
  height: 7.188rem;
}

.collection-box {
  position: relative;
  float: left;
  z-index: 6;
  width: 100%;
  height: 7.188rem;
  margin-top: 1.25rem;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.collection-box-select {
  position: relative;
  float: left;
  clear: both;
  z-index: 4;
  width: 100%;
  height: 7.188rem;
  margin-top: -7.187rem;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.collection-desc-select {
  float: left;
  clear: both;
  width: 99.9936202111%;
  min-height: 2.125rem;
  border-radius: 0.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.collection-description {
  float: left;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
}

.collection-description-text {
  position: absolute;
  top: 3.063rem;
  left: 16.9982993197%;
  z-index: 8;
  width: 67.8911564625%;
  min-height: 2.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.collection-select {
  float: left;
  width: 100%;
  height: 7.188rem;
}

.collection-text {
  position: relative;
  float: right;
  z-index: 9;
  width: 78.1206171107%;
  height: 5.938rem;
  margin: -6.062rem 4.68312% 0 0;
}

.collection-text .collection-description {
  clear: both;
  width: 99.9936202111%;
  min-height: 2.125rem;
  color: rgb(255, 255, 255);
  overflow: hidden;
}

.collection-text-select {
  position: relative;
  float: left;
  z-index: 7;
  width: 61.8513323983%;
  height: 5.5rem;
  margin: -6.312rem 0 0 17.1962699999%;
}

.collection-title {
  float: left;
  width: 99.830935596%;
  min-height: 2.438rem;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(254, 254, 254);
}

.collection-title-text {
  position: absolute;
  top: 0.438rem;
  left: 17.006802721%;
  z-index: 9;
  width: 66.6666666666%;
  min-height: 2.438rem;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.collections-search {
  float: left;
  width: 61.25%;
  height: 4.188rem;
  margin: 1.625rem 0 0 19.33073%;
  background-color: rgb(43, 62, 80);
}

.create-another-link-btn {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 21;
  width: 12.7994791666%;
  height: 2.688rem;
  margin: 2.125rem 0 0 20.19401%;
  border-radius: 0.188rem;
  background-color: rgb(78, 93, 108);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(254, 254, 254);
}

.create-collection {
  float: left;
  clear: both;
  width: 61.25%;
  height: 4.188rem;
  margin: 1.25rem 0 0 19.16276%;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.create-collection .collection-description {
  display: block;
  width: 91.4285714285%;
  height: 3.438rem;
  margin: 0.313rem 0 0 4.63223%;
  padding: 0.313rem;
  border: 0.063rem solid rgb(119, 119, 119);
  background-color: rgb(242, 242, 242);
  text-align: center;
  color: rgb(0, 0, 0);
  resize: none;
}

.create-collection-btn {
  display: block;
  position: relative;
  float: right;
  z-index: 20;
  width: 12.7994791666%;
  height: 2.688rem;
  margin: 2.125rem 20.45573% 0 0;
  border-radius: 0.188rem;
  background-color: rgb(92, 184, 92);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(254, 254, 254);
}

.create-collection-name {
  float: left;
  clear: both;
  width: 61.25%;
  height: 4.188rem;
  margin: 1.625rem 0 0 19.16276%;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.create-collection-name-input {
  display: block;
  float: left;
  width: 91.4285714285%;
  height: 3rem;
  margin: 0.625rem 0 0 4.63223%;
  padding: 0 0.625rem;
  background-color: rgb(242, 242, 242);
  font-size: 1.375rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.create-link {
  position: relative;
  float: left;
  z-index: 13;
  width: 100%;
  height: 7.188rem;
  margin-top: 0.938rem;
}

.create-link .box {
  z-index: 6;
  height: 7.688rem;
  margin-left: -0.27024%;
}

.create-link .screenshot {
  z-index: 7;
  margin-top: -6.812rem;
}

.edit-btn {
  display: block;
  float: left;
  width: 5.9863945578%;
  height: 1.938rem;
  margin: 2.188rem 0 0 2.58291%;
  border-radius: 0.188rem;
  background-color: rgb(222, 222, 222);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.hi-user {
  position: relative;
  float: left;
  z-index: 1;
  width: 30.8333333333%;
  min-height: 1.5rem;
  margin: 1.188rem 0 0 68.01921%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
}

.link {
  position: relative;
  float: left;
  width: 100%;
  height: 7.188rem;
  margin-top: 0.938rem;
}

.link .box {
  z-index: 11;
  height: 7.188rem;
}

.link .screenshot {
  z-index: 12;
  margin-top: -6.312rem;
}

.link-description {
  display: block;
  float: left;
  clear: both;
  width: 98.0718336483%;
  height: 3.063rem;
  margin: 0.313rem 0 0 0.1979%;
  padding: 0.313rem;
  border: 0.063rem solid rgb(119, 119, 119);
  background-color: rgb(242, 242, 242);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
  resize: none;
}

.link-description-text {
  float: left;
  clear: both;
  width: 99.9936202111%;
  min-height: 2.125rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.link-inputs {
  position: absolute;
  top: 0.75rem;
  left: 23.0956346423%;
  z-index: 12;
  width: 74.193548387%;
  height: 5.5rem;
}

.link-text {
  position: absolute;
  top: 1.063rem;
  left: 25.7819074333%;
  z-index: 16;
  width: 74.193548387%;
  height: 5.5rem;
}

.link-title {
  display: block;
  position: relative;
  float: left;
  z-index: 9;
  width: 49.9054820415%;
  height: 2.438rem;
  margin: 0.063rem 0 0 0.1595%;
  padding: 0 0.625rem;
  background-color: rgb(242, 242, 242);
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.collection-title-select,
.link-title-text {
  float: left;
  width: 99.830935596%;
  min-height: 2.438rem;
  font-size: 1.563rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.link-url {
  display: block;
  position: relative;
  float: left;
  z-index: 10;
  width: 47.258979206%;
  height: 2.438rem;
  margin: 0.063rem 0 0 0.94518%;
  padding: 0 0.625rem;
  background-color: rgb(242, 242, 242);
  font-size: 0.938rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.login-to-use {
  position: absolute;
  top: 9.375rem;
  left: 35.5989583333%;
  z-index: 22;
  width: 28.7994791666%;
  min-height: 1.625rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.logotext {
  position: absolute;
  left: 10%;
  width: 39.19921875%;
  min-height: 4.688rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
}

.logout {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 0;
  width: 15.8333333333%;
  min-height: 1.5rem;
  margin: -0.375rem 0 0 82.99967%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: right;
}

.navbar {
  position: relative;
  float: left;
  width: 80%;
  height: 4.375rem;
  margin-left: 10%;
}

.point-text {
  display: block;
  float: left;
  margin-left: 6px;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(255, 255, 255);
}

.scnshot-container {
  float: left;
  width: 17.0297159887%;
  height: 7.25rem;
}

.screenshot {
  display: block;
  position: relative;
  float: left;
  clear: both;
  width: 92px;
  height: auto;
  margin-left: 8.72475%;
  overflow: hidden;
}

.select-collection {
  float: left;
  clear: both;
  width: 61.25%;
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
}

.select-text {
  float: left;
  width: 100%;
  min-height: 2.625rem;
  margin-top: 1rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.signin {
  position: absolute;
  top: 2.625rem;
  left: 61%;
  z-index: 5;
  width: 28.5833333333%;
  height: 2.563rem;
}

.single--new-link {
  float: left;
  clear: both;
  width: 59.4166666666%;
  height: 7.188rem;
  margin: 0.938rem 0 0 20.19401%;
}

.single-collection,
.single-collection-select {
  float: left;
  clear: both;
  width: 59.4166666666%;
  height: 7.188rem;
  margin: 1.375rem 0 0 20.19922%;
}

.single-link {
  float: left;
  clear: both;
  width: 59.4166666666%;
  height: 7.188rem;
  margin: 1.375rem 0 0 20.36198%;
}

.upvote-btn {
  display: block;
  float: left;
  clear: both;
  width: 100%;
  height: 1.5rem;
  margin-top: 0.438rem;
  border-radius: 0.188rem;
  background-color: rgb(222, 222, 222);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
}

.username {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 2;
  width: 17.1328125%;
  height: 2.563rem;
  margin: -3.375rem 0 0 61%;
  padding: 0 0.625rem;
  background-color: rgb(242, 242, 242);
  font-size: 0.813rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.vote-label {
  position: relative;
  float: left;
  clear: both;
  z-index: 11;
  margin: -0.875rem 0 0 12.58382%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.vote-num {
  position: relative;
  float: left;
  clear: both;
  z-index: 12;
  width: 100.1341081805%;
  margin: -0.937rem 0 0 -0.15646%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(254, 254, 254);
}

.votes-box {
  width: 61.9753428452%;
  height: 3.313rem;
  margin: 1.563rem auto 0;
  border-radius: 0.625rem;
  background-color: rgb(43, 62, 80);
}

.votes-box-select {
  width: 61.9753428452%;
  height: 3.313rem;
  margin: 2rem auto 0;
  border-radius: 0.625rem;
  background-color: rgb(43, 62, 80);
}

.votes-label-select {
  position: relative;
  float: left;
  clear: both;
  z-index: 10;
  width: 100.1341081805%;
  margin: -0.75rem 0 0 -0.12121%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.votes-number-select {
  position: relative;
  float: left;
  clear: both;
  z-index: 9;
  margin: -0.875rem 0 0 12.58182%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.38;
  color: rgb(0, 0, 0);
}

.votes-text {
  position: relative;
  float: left;
  z-index: 10;
  width: 100.1341081805%;
  min-height: 2.313rem;
  margin: 0.313rem 0 0 -0.15646%;
  font: 400 1.875rem/1.38 Arial;
  text-align: center;
  color: rgb(0, 0, 0);
}

.votes-text-select {
  position: relative;
  float: left;
  z-index: 8;
  width: 100.1341081805%;
  min-height: 2.313rem;
  margin: 0.125rem 0 0 -0.12121%;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(255, 255, 255);
}

.votes-user {
  position: relative;
  float: left;
  clear: both;
  z-index: 14;
  width: 15.8200385694%;
  height: 5.563rem;
  margin-top: -6.75rem;
}

.votes-user-select {
  position: relative;
  float: left;
  z-index: 12;
  width: 14.5862552594%;
  height: 7.188rem;
  margin-left: -0.05479%;
}

._button {
  display: block;
  float: left;
  border-radius: 0.188rem;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(254, 254, 254);
}

._input {
  display: block;
  float: left;
  padding: 0 0.625rem;
  background-color: rgb(242, 242, 242);
  font-weight: 400;
  line-height: 1.38;
}

._input:focus {
  border-color: rgb(91, 192, 222);
}

.collections-search ._button {
  width: 15.2104591836%;
  height: 2.813rem;
  margin: 0.688rem 0 0 1.54762%;
  background-color: rgb(78, 93, 108);
  font-size: 1.438rem;
}

.collections-search ._input {
  width: 80.6802721088%;
  height: 2.688rem;
  margin: 0.688rem 0 0 1.31378%;
  border: 0.063rem solid rgb(254, 254, 254);
  font-size: 1.25rem;
  color: rgb(0, 0, 0);
}

.signin ._button {
  width: 31.1953352769%;
  height: 2.563rem;
  margin-left: 3.02934%;
  border: 0.063rem solid rgb(254, 254, 254);
  background-color: rgb(92, 184, 92);
  font-size: 1rem;
}

.signin ._input {
  width: 65.7707725947%;
  height: 2.563rem;
  font-size: 0.813rem;
  color: rgb(223, 105, 26);
}

.signin ._input:focus {
  border-width: 0.063rem;
  border-style: solid;
}

.checkbox-label-1 {
  margin-left: 3.03734%;
}

.checkbox-label-2 {
  margin-left: 3.03953%;
}

.create-collection-name-1 {
  position: relative;
  z-index: 5;
}

.hi-user-1,
.hi-user-2,
.hi-user-3 {
  color: rgb(0, 0, 0);
}

.hi-user-4 {
  color: rgb(255, 255, 255);
}

.logotext-3 {
  top: 1.313rem;
  z-index: 1;
  color: rgb(223, 105, 26);
}

.logotext-1,
.logotext-2,
.logotext-4 {
  top: 0.375rem;
  z-index: 3;
  color: rgb(0, 0, 0);
}

.logotext-5 {
  top: 0.375rem;
  z-index: 3;
  color: rgb(255, 255, 255);
}

.logout-1,
.logout-2,
.logout-3 {
  color: rgb(0, 0, 0);
}

.logout-4 {
  border-radius: 0.625rem;
  background-color: rgb(78, 93, 108);
  color: rgb(255, 255, 255);
}

.navbar-3 {
  z-index: 0;
  margin-top: 1.625rem;
  background-color: rgb(43, 62, 80);
}

.navbar-1,
.navbar-2,
.navbar-4 {
  z-index: 2;
  margin-top: 0.688rem;
  background-color: rgb(222, 222, 222);
}

.navbar-5 {
  z-index: 2;
  margin-top: 0.688rem;
  background-color: rgb(78, 93, 108);
}

.select-collection-1 {
  position: relative;
  height: 6.188rem;
  margin: 1.563rem 0 0 19.16667%;
}

.select-collection-2 {
  height: 4.188rem;
  margin: 1.625rem 0 0 19.33073%;
}

.logotext span {
  font-family: Raleway;
  font-style: inherit;
  font-size: 3.438rem;
  font-weight: 500;
}

.logotext-3 span {
  background-color: transparent;
}

.select-text strong {
  font-size: 1.75rem;
}

.votes-text span {
  font-size: 1.25rem;
  color: rgb(254, 254, 254);
}

.votes-text-select span {
  font-size: 1.25rem;
}

@media(max-width: 600px) {
  .btn-container .clone-btn,
  .btn-container .upvote-btn {
    width: 134.2857142857%;
    margin-left: -21.38393%;
  }

  .checkbox-label .point-text {
    clear: both;
  }

  .collection .collection-box {
    position: relative;
    z-index: 6;
    width: 45.5938697318%;
    height: 7rem;
    margin-top: 0.938rem;
  }

  .collection .collection-text {
    position: relative;
    z-index: 9;
    width: 34.6104725415%;
    margin-top: -6.187rem;
    margin-right: 56.09036%;
  }

  .collection .votes-user {
    position: relative;
    z-index: 14;
    width: 7.201867816%;
    margin-top: -6.312rem;
    margin-left: 0.02395%;
  }

  .collection-select .add-link {
    position: relative;
    float: left;
    z-index: 13;
    width: 11.6219667943%;
    height: 1.875rem;
    margin-top: -6.812rem;
    margin-right: 0;
    margin-left: 32.92625%;
  }

  .collection-select .collection-box-select {
    position: relative;
    z-index: 4;
    width: 45.5938697318%;
    height: 7rem;
  }

  .collection-select .collection-text-select {
    position: relative;
    z-index: 7;
    width: 37.6756066411%;
    margin-top: -7.187rem;
    margin-left: 7.91627%;
  }

  .collection-select .votes-user-select {
    position: relative;
    z-index: 12;
    width: 7.201867816%;
    margin-top: 1.625rem;
    margin-left: 0.02395%;
  }

  .collection-text-select .collection-desc-select {
    position: relative;
    z-index: 6;
    margin-top: -0.312rem;
  }

  .collection-text-select .collection-title-select {
    position: relative;
    z-index: 5;
    margin-top: 0.313rem;
  }

  .create-another-link-btn {
    position: relative;
    z-index: 21;
    margin-top: -12.875rem;
    margin-left: 20.19271%;
  }

  .create-collection {
    position: relative;
    z-index: 19;
    margin-top: 0.375rem;
    margin-left: 18.66146%;
  }

  .create-collection .collection-description {
    margin-top: 0.438rem;
    margin-left: 5.44643%;
  }

  .create-collection-btn {
    position: relative;
    z-index: 20;
    margin-top: -12.875rem;
    margin-right: 20.59375%;
  }

  .create-collection-name {
    position: relative;
    z-index: 5;
    margin-left: 18.66146%;
  }

  .create-collection-name .create-collection-name-input {
    margin-left: 5.44643%;
  }

  .create-link .box {
    z-index: 6;
    margin-left: 0;
  }

  .create-link .link-inputs {
    top: 1.063rem;
    left: 30.7091514726%;
    width: 64.2356241234%;
  }

  .create-link .screenshot {
    z-index: 7;
    margin-top: -6.312rem;
  }

  .link .box {
    z-index: 11;
  }

  .link .link-text {
    left: 30.7091514726%;
    width: 64.2356241234%;
  }

  .link .screenshot {
    z-index: 12;
  }

  .link-inputs .link-description {
    margin-left: 0.19105%;
  }

  .link-inputs .link-title {
    position: relative;
    z-index: 9;
    margin-top: 0;
    margin-left: 0.15011%;
  }

  .link-inputs .link-url {
    position: relative;
    z-index: 10;
    margin-left: 0.92795%;
  }

  .logotext {
    width: 39.1979166666%;
  }

  .navbar {
    position: relative;
  }

  .navbar .hi-user {
    position: relative;
    z-index: 1;
    margin-left: 68.125%;
  }

  .navbar .logout {
    position: relative;
    z-index: 0;
    margin-left: 82.99805%;
  }

  .scnshot-container .box {
    position: relative;
    width: 587.2844272844%;
  }

  .scnshot-container .screenshot {
    position: relative;
    height: auto;
    margin-left: 8.72587%;
  }

  .select-collection {
    margin-top: 2.188rem;
  }

  .select-collection .btn-container {
    top: 1.438rem;
    right: 3.1207482993%;
  }

  .select-collection .edit-btn {
    width: 7.8911564625%;
    margin-top: 2.313rem;
    margin-left: 2.44473%;
  }

  .select-collection .select-text {
    width: 81.3605442176%;
    margin-top: 0.438rem;
    margin-left: 8.16916%;
  }

  .signin {
    left: 51%;
    width: 38.6666666666%;
  }

  .single--new-link {
    position: relative;
    z-index: 17;
    margin-top: -6.812rem;
    margin-left: 19.98698%;
  }

  .single--new-link .checkbox-label {
    position: relative;
    z-index: 16;
  }

  .single--new-link .create-link {
    position: relative;
    z-index: 13;
    margin-top: 7.438rem;
  }

  .single-collection {
    width: 130.5%;
    height: 7rem;
    margin-top: 1.563rem;
    margin-left: 20.19792%;
  }

  .single-collection .collection,
  .single-collection-select .collection-select {
    height: 7rem;
  }

  .single-collection-select {
    width: 130.5%;
    height: 7rem;
    margin-top: 0;
    margin-left: 19.15625%;
  }

  .single-link {
    margin-top: 1.313rem;
    margin-left: 19.98698%;
  }

  .single-link .link {
    margin-top: 0.625rem;
  }

  .username {
    position: relative;
    z-index: 2;
  }

  .votes-box .vote-label {
    position: relative;
    z-index: 11;
    margin-left: 12.5363399999%;
  }

  .votes-box .vote-num {
    position: relative;
    z-index: 12;
    margin-top: -0.437rem;
    margin-left: -0.18169%;
    font-family: Arial;
    font-style: normal;
  }

  .votes-box .votes-text {
    position: relative;
    z-index: 10;
    width: 100%;
    margin-top: -0.187rem;
    margin-left: 0;
  }

  .votes-box-select .votes-label-select {
    position: relative;
    z-index: 10;
    margin-top: -0.437rem;
    margin-left: -0.18169%;
    font-family: Arial;
    font-style: normal;
  }

  .votes-box-select .votes-number-select {
    position: relative;
    z-index: 9;
    margin-left: 12.5363399999%;
  }

  .votes-box-select .votes-text-select {
    position: relative;
    z-index: 8;
    width: 100%;
    margin-top: -0.187rem;
    margin-left: 0;
  }

  .votes-user .votes-box {
    float: left;
    width: 76.2538099196%;
    margin-top: 0.5rem;
    margin-right: 0;
    margin-left: 13.023%;
  }

  .votes-user-select .votes-box-select {
    width: 76.2538099196%;
    margin-top: 1.688rem;
  }

  .collections-search ._button {
    width: 30.7482993197%;
    margin-top: 0.875rem;
    margin-left: 1.3648%;
  }

  .collections-search ._input {
    width: 66.3945578231%;
    margin-top: 0.875rem;
    margin-left: 0.27211%;
  }

  .signin ._button {
    width: 31.1046511627%;
    margin-left: 3.02398%;
  }

  .signin ._input {
    width: 65.5795784883%;
  }

  .create-collection-name-1 {
    margin-top: 3.375rem;
  }

  .create-collection-name-2 {
    margin-top: 2.25rem;
  }

  .navbar-3 {
    z-index: 0;
  }

  .navbar-1,
  .navbar-2,
  .navbar-4,
  .navbar-5 {
    z-index: 2;
  }

  .select-collection-1 {
    margin-left: 18.66146%;
  }

  .select-collection-2 {
    width: 61.3333333333%;
    height: 5.313rem;
    margin-left: 18.66667%;
  }

  .single--new-link .checkbox-label-1 {
    margin-left: 3.03296%;
  }

  .single--new-link .checkbox-label-2 {
    margin-left: 3.03734%;
  }
}